<div class="bg-light min-vh-100 d-flex flex-row align-items-center" >
  <c-container>
    <c-row class="justify-content-center" >
      <c-col md="8" style="width: 550px">
        <c-card-group >
          <c-card class="p-4">
            <c-card-body >
              <form cForm>
                <h1>Iniciar Sesión</h1>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="Escribe tu matricula" cFormControl placeholder="Escribe tu matricula" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Escribe tu contraseña"
                    type="password"
                  />
                </c-input-group>
               
                  
                    <button  routerLink="./dashboard" style="justify-content: center; background-color: #FA7F2C;  border: 2px solid #FA7F2C; color: white;text-align: center;border-radius: 12px; padding: 4px 45px;"  >
                      Entrar
                    </button>
                  
              </form>
            </c-card-body>
          </c-card>
          
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
<div>
    
  <img src="assets/bcp.png"  width="60" height="20" alt="bcp">
  <span> © 2022 BCP | Todos los derechos reservados.</span>
</div>
