<div class=" bg-light login"   style=" width: 100%; height: 100vh; display: inline-block; display: flex; align-items: center;" >
  <div class="container" >
      <div class="row"  >
          <div class="col-lg-10 offset-lg-1" >
            <h3 class="mb-3" style=" font-weight: 500; color: #003F8E;" >Iniciar Sesión</h3>
                <p class="text-end text-secondary mt-3" style="font-weight: 500;">Nueva Base de Activos - BCP 2022</p>
              <div class="bg-white shadow rounded">
                  <div class="row">
                      <div class="col-md-7 pe-0">
                          <div class="form-left h-100 py-5 px-5">
                              <form action="" class="row g-4" >
                                      <div class="col-12">
                                          <label>Matrícula<span class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="input-group-text"><svg cIcon name="cilUser"></svg></div>
                                              <input class="form-control"  type="text"  class="form-control" id="user" type="text" [(ngModel)]="usr" name="user" #user="ngModel"  required placeholder="Escribe tu Matrícula" >
                                          </div>
                                      </div>

                                      <div class="col-12">
                                          <label>Contraseña<span class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="input-group-text"><svg cIcon name="cilLockLocked"></svg></div>
                                              <input type="text" name="pass"  class="form-control" id="passd" type="text" [(ngModel)]="pass" name="passd" #passd="ngModel"  required placeholder="Escribe tu contraseña" type="password">
                                          </div>
                                      </div>

                                      <div class="col-sm-12" >
                                          <div class="form-check">
                                              <input class="form-check-input" type="checkbox" id="inlineFormCheck" >
                                              <label class="form-check-label" for="inlineFormCheck">Recordarme</label>                                                                                          
                                          </div>                                                     
                                      </div>
                                      <div class="col-12">
                                        <label class="text-danger" *ngIf="isBadCredentials">Datos incorrectos</label>
                                      </div>
                                      <div class="col-12">
                                          <button type="button" class="btn btn-primary px-4 float-end mt-4" style="justify-content: center; background-color: #FA7F2C; 
                                          border: 2px solid #FA7F2C; color: white;text-align: center;border-radius: 12px; padding: 4px 45px;"  (click)="doLogin()">Entrar</button>
                                      </div>
                              </form>
                          </div>
                      </div>
                      <div class="col-md-5 ps-0 d-none d-md-block"  >
                        <div class="form-right h-100 text-white text-center pt-5" style="background-color: #003F8E;">
                            <i class="bi bi-bootstrap" ></i>
                            <img src="assets/clave6-digitos-01.svg" width="292" height="278"
                                alt="login">
                        </div>
                    </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</div>
<footer>
  <img src="assets/bcp.png"  width="60" height="20" alt="bcp">
  <span> © 2022 BCP | Todos los derechos reservados.</span>
</footer>