<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
        Team Members
      </c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <button cButton
                    class="me-1 btn btn-primary"
                    (click)="openModalNewEdit(templateNewEdit)">
                    Nuevo 
            </button>
            <button cButton
                    class="me-1 btn btn-secondary">
                    Exportar
            </button>
          </c-col>
        </c-row>
        
        <c-row>
          <c-col>
            <div style="overflow-x:auto;">
              <div class="col-md-12 mb-3" style="margin-top: 10px;">
                  <ngx-datatable 
                  class="material container striped" 
                  [rows]="chapterAreaLeadList" 
                  [loadingIndicator]="loadingIndicator"
                  [columnMode]="'force'"
                  [headerHeight]="50" 
                  [footerHeight]="50" 
                  [scrollbarH]="true"
                  [rowHeight]="50"
                  [externalPaging]="true"
                  [count]="page.totalCount"
                  [offset]="page.currentPage"
                  [limit]="page.pageSize"
                  (page)='setPage($event)'
                  [messages]="{emptyMessage: 'No hay datos disponibles.',totalMessage: 'Team Members encontrados.'}">   
                  
                  <ngx-datatable-column name="Matricula">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.cod_matricula}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nombre">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.nombres}}
                    </ng-template>
                  </ngx-datatable-column>
                
                  <ngx-datatable-column name="Ap. Paterno">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.apellido_paterno}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Ap. Materno">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.apellido_materno}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha Ingreso">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.fec_ingreso}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        <label (click)="openModalNewEdit(templateNewEdit, row);">Editar</label>
                        <label (click)="openModalDelete(templateDelete, row);">Eliminar</label>
                    </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  
    <ng-template #templateNewEdit>
      <div class="modal-header">
          <h4 class="modal-title pull-left">{{NewEdit}} Chapter Area Lead</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">
          <form cForm class="form" #registerForm="ngForm" (ngSubmit)="agregarChapterAreaLead(registerForm)" novalidate>
            <div class="row">
              <div class="col-6">
                <div class="mb-1">
                  <label cLabel for="nombre">Nombre</label>
                  <input class="form-control" id="nombre" type="text" [(ngModel)]="chapterAreaLead.nombres" name="nombre" #nombre="ngModel" required/>
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
                    <div *ngIf="nombre.errors?.['required']">Nombre es obligatorio.</div>   
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-1">
                  <label cLabel for="apellidoPaterno">Apellido Paterno</label>
                  <input class="form-control" id="apellidoPaterno" type="text" [(ngModel)]="chapterAreaLead.apellido_paterno" name="apellido_paterno" #apellido_paterno="ngModel" required/>
                  <div *ngIf="apellido_paterno.invalid && (apellido_paterno.dirty || apellido_paterno.touched)" class="alert">
                    <div *ngIf="apellido_paterno.errors?.['required']">Apellido paterno es obligatorio.</div>   
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mb-1">
                  <label cLabel for="apellidoMaterno">Apellido Materno</label>
                  <input class="form-control" id="apellidoMaterno" type="text" [(ngModel)]="chapterAreaLead.apellido_materno" name="apellido_materno" #apellido_materno="ngModel" required/>
                  <div *ngIf="apellido_materno.invalid && (apellido_materno.dirty || apellido_materno.touched)" class="alert">
                    <div *ngIf="apellido_materno.errors?.['required']">Apellido materno es obligatorio.</div>   
                  </div>
                </div>
              </div>
            </div>
          </form>
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="cerrarModal()">Cerrar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Registrar</button>
      </div>
    </ng-template>
  
    <ng-template #templateDelete>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Eliminar Chapter Area Lead</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">
          <span cLabel>¿Estas seguro de eliminar a </span>{{chapterAreaLead.nombres}} {{chapterAreaLead.apellido_paterno}} {{chapterAreaLead.apellido_materno}} - {{chapterAreaLead.cod_matricula}} <span>?</span>
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="cerrarModal()">No</button>
          <button type="button" class="btn btn-primary" (click)="eliminarChapterAreaLead()">Si</button>
      </div>
    </ng-template>
  
  </div>
  
  