
<div class="fade-in" style="font-family:Flexo">
    <c-card class="mb-4">
      <c-card-header>
        Chapter Leads
      </c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <button cButton
                    class="me-1 btn btn-primary"
                    (click)="openModalNewEdit(templateNewEdit)">
                    Nuevo 
            </button>
            <button cButton style="background-color: #008F53 ; border-color:#008F53" class="me-1 btn btn-default"  
                    (click)="exportar()">
                    <img src="assets/excel.png" width="20" height="20" alt="excel" > 
                     Exportar
            </button>
          </c-col>
        </c-row>

        <c-row class="d-none">
          <c-col>
            <table id="excel-table">
              <tr>
                <th>Codigo Matricula</th>
                <th>Nombres</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre Chapter</th>
                <th>id Chapter Area Leader</th>
                <th>Fecha de Ingreso</th>
              </tr>
              <tr *ngFor="let item of excelList">
                <td>{{item.codMatricula}}</td>
                <td>{{item.nombres}}</td>
                <td>{{item.apellidoPaterno}}</td>
                <td>{{item.apellidoMaterno}}</td>
                <td>{{item.nombreChapter}}</td>
                <td>{{item.idChapterAreaLeader}}</td>
                <td>{{item.fecIngreso}}</td>
              </tr>
            </table>
          </c-col>
        </c-row>

        <c-row>
          <c-col>
            <div style="overflow-x:auto;">
              <div class="col-md-12 mb-3" style="margin-top: 10px;">
                <ngx-datatable class="material container striped"
                               [rows]="chapterLeadList"
                               [loadingIndicator]="loadingIndicator"
                               [columnMode]="'force'"
                               [headerHeight]="50"
                               [footerHeight]="50"
                               [scrollbarH]="true"
                               [rowHeight]="50"
                               [externalPaging]="true"
                               [count]="page.totalCount"
                               [offset]="page.currentPage"
                               [limit]="page.pageSize"
                               (page)='setPage($event)'
                               [messages]="{emptyMessage: 'No hay datos disponibles.',totalMessage: 'Chapter Leads encontrados.'}">

                  
                  <ngx-datatable-column name="Acciones">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        <img src="assets/editar.png" width="25" height="25" (click)="openModalNewEdit(templateNewEdit, row);">
                        <img src="assets/eliminar.png" width="25" height="25" (click)="openModalDelete(templateDelete, row);">
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Matricula">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.codMatricula}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nombre">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.nombres}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Ap. Paterno">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.apellidoPaterno}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Ap. Materno">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.apellidoMaterno}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nombre Chapter">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.nombreChapter}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Total Team Members">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.totalTeamMember}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Members BCP">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.totalTeamMemberBCP}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Members Proveedor">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.totalTeamMemberProveedor}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha Ingreso">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.fecIngreso}}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  
    <ng-template #templateNewEdit >
      <form  style="font-family:Flexo" cForm class="form" #registerForm="ngForm" (ngSubmit)="agregarChapterLead(registerForm)" novalidate>
        <div class="modal-header">
            <h4 class="modal-title pull-left"  style="color: #00085C" >{{NewEdit}} Chapter Lead</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="mb-1">
                <label cLabel for="matricula" style="color: #002277" >Matrícula</label>
                <input class="form-control" id="matricula" type="text" [(ngModel)]="chapterLead.codMatricula" name="codMatricula" #codMatricula="ngModel" required />
                <div *ngIf="codMatricula.invalid && (codMatricula.dirty || codMatricula.touched)" class="alert">
                  <div *ngIf="codMatricula.errors?.['required']">Matrícula es obligatorio.</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label cLabel for="ChapterAreaLeader" style="color: #002277" >Chapter Area Lead</label>
                <select class="form-select" id="ChapterAreaLeader" [(ngModel)]="chapterLead.idChapterAreaLeader" name="idChapterAreaLeader" #idChapterAreaLeader="ngModel" required>
                  <option value={{chapterAreaLead.id}} *ngFor="let chapterAreaLead of chapterAreaLeadList">{{chapterAreaLead.nombres + ' '+ chapterAreaLead.apellidoPaterno}}</option>
                </select>
                <div *ngIf="idChapterAreaLeader.invalid && (idChapterAreaLeader.dirty || idChapterAreaLeader.touched)" class="alert">
                  <div *ngIf="idChapterAreaLeader.errors?.['required']">Chapter Area leader es obligatorio.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="mb-1">
                <label cLabel for="nombre" style="color: #002277">Nombre</label>
                <input class="form-control" id="nombre" type="text" [(ngModel)]="chapterLead.nombres" name="nombre" #nombre="ngModel" required />
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
                  <div *ngIf="nombre.errors?.['required']">Nombre es obligatorio.</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label cLabel for="apellidoPaterno" style="color: #002277">Apellido Paterno</label>
                <input class="form-control" id="apellidoPaterno" type="text" [(ngModel)]="chapterLead.apellidoPaterno" name="apellidoPaterno" #apellidoPaterno="ngModel" required />
                <div *ngIf="apellidoPaterno.invalid && (apellidoPaterno.dirty || apellidoPaterno.touched)" class="alert">
                  <div *ngIf="apellidoPaterno.errors?.['required']">Apellido paterno es obligatorio.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="mb-1">
                <label cLabel for="apellidoMaterno" style="color: #002277">Apellido Materno</label>
                <input class="form-control" id="apellidoMaterno" type="text" [(ngModel)]="chapterLead.apellidoMaterno" name="apellidoMaterno" #apellidoMaterno="ngModel" required />
                <div *ngIf="apellidoMaterno.invalid && (apellidoMaterno.dirty || apellidoMaterno.touched)" class="alert">
                  <div *ngIf="apellidoMaterno.errors?.['required']">Apellido materno es obligatorio.</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label cLabel for="nombreChapter" style="color: #002277">Nombre Chapter</label>
                <input class="form-control" id="nombreChapter" type="text" [(ngModel)]="chapterLead.nombreChapter" name="nombreChapter" #nombreChapter="ngModel" required />
                <div *ngIf="nombreChapter.invalid && (nombreChapter.dirty || nombreChapter.touched)" class="alert">
                  <div *ngIf="nombreChapter.errors?.['required']">Nombre Chapter es obligatorio.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="cerrarModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary" style=" font-family:Flexo; justify-content: center; background-color: #FA7F2C; 
            border: 2px solid #FA7F2C; color: white;text-align: center;border-radius: 12px; padding: 4px 45px;" [disabled]="!registerForm.valid" >Registrar</button>

        </div>
      </form>
    </ng-template>
  
    <ng-template #templateDelete>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Eliminar Chapter Lead</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">
        <span cLabel>¿Estas seguro de eliminar a </span>{{chapterLead.nombres}} {{chapterLead.apellidoPaterno}} {{chapterLead.apellidoMaterno}} - {{chapterLead.codMatricula}} <span>?</span>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="cerrarModal()">No</button>
          <button type="button" class="btn btn-primary" (click)="eliminarChapterLead()">Si</button>
      </div>
    </ng-template>
  
  </div>
  
