<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
        Tribus
      </c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <button cButton
                    class="me-1 btn btn-primary"
                    (click)="openModalNewEdit(templateNewEdit)">
                    Nuevo 
            </button>
            <button cButton
                    class="me-1 btn btn-secondary">
                    Exportar
            </button>
          </c-col>
        </c-row>
        
        <c-row>
          <c-col>
            <div style="overflow-x:auto;">
              <div class="col-md-12 mb-3" style="margin-top: 10px;">
                  <ngx-datatable 
                  class="material container striped" 
                  [rows]="tribeList" 
                  [loadingIndicator]="loadingIndicator"
                  [columnMode]="'force'"
                  [headerHeight]="50" 
                  [footerHeight]="50" 
                  [scrollbarH]="true"
                  [rowHeight]="50"
                  [externalPaging]="true"
                  [count]="page.totalCount"
                  [offset]="page.currentPage"
                  [limit]="page.pageSize"
                  (page)='setPage($event)'
                  [messages]="{emptyMessage: 'No hay datos disponibles.',totalMessage: 'Tribus encontrados.'}">   
                  
                  
                  <ngx-datatable-column name="Nombre">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.nombre}}
                    </ng-template>
                  </ngx-datatable-column>
                
                  <ngx-datatable-column name="Tipo">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.tipo}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha Ingreso">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.fec_ingresa}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        <label (click)="openModalNewEdit(templateNewEdit, row);">Editar</label>
                        <label (click)="openModalDelete(templateDelete, row);">Eliminar</label>
                    </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  
    <ng-template #templateNewEdit>
      <form cForm class="form" #registerForm="ngForm" (ngSubmit)="agregarTribe(registerForm)" novalidate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{NewEdit}} Tribu</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="mb-1">
                <label cLabel for="nombre">Nombre</label>
                <input class="form-control" id="nombre" type="text" [(ngModel)]="tribe.nombre" name="nombre" #nombre="ngModel" required/>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
                  <div *ngIf="nombre.errors?.['required']">Nombre es obligatorio.</div>   
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label cLabel for="tipo">Tipo</label>
                <select class="form-select" id="tipo" [(ngModel)]="tribe.tipo" name="tipo" #tipo="ngModel" required>
                  <option value="1">Tribu</option>
                  <option value="2">Coe</option>
                </select>
                <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="alert">
                  <div *ngIf="tipo.errors?.['required']">Tipo es obligatorio.</div>   
                </div>
              </div>
            </div>
          </div> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="cerrarModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Registrar</button>
        </div>
      </form>
    </ng-template>
  
    <ng-template #templateDelete>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Eliminar Tribu</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">
          <span cLabel>¿Estas seguro de eliminar a </span>{{tribe.nombre}} <span>?</span>
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="cerrarModal()">No</button>
          <button type="button" class="btn btn-primary" (click)="eliminarTribe()">Si</button>
      </div>
    </ng-template>
  
  </div>
  
  