<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
        Base de Activos
      </c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <button cButton
                    class="me-1 btn btn-primary"
                    (click)="openModalAdd(templateAdd)">
                    Nuevo 
            </button>
            <button cButton
                    class="me-1 btn btn-secondary"
                    (click)="cerrarPeriodo()">
                    Cerrar Periodo
            </button>
            <button cButton
                    class="me-1 btn btn-default"
                    (click)="exportar()">
                    Exportar
            </button>
          </c-col>
        </c-row>
        
        <c-row class="d-none">
          <c-col>
            <table id="excel-table">
              <tr>
                <th>Nombre Cal</th>
                <th>Matricula Chapter</th>
                <th>Chapter Leader</th>
                <th>Tipo</th>
                <th>Empresa</th>
                <th>Matricula</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Rol Insourcing</th>
                <th>Especialidad</th>
                <th>Tribu/COE</th>
                <th>Squad</th>
                <th>Cod App Asignado</th>
                <th>Porcentaje de Asignacion</th>
                <th>BB</th>
                <th>Chapter</th>
                <th>Comentarios</th>
              </tr>
              <tr *ngFor="let item of excelList">
                <td>{{item.nombre_cal}}</td>
                <td>{{item.mat_chapter}}</td>
                <td>{{item.chapter_leader}}</td>
                <td>{{item.tipo_preper}}</td>
                <td>{{item.empresa}}</td>
                <td>{{item.matricula}}</td>
                <td>{{item.apellido_paterno}}</td>
                <td>{{item.apellido_materno}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.sq_rol}}</td>
                <td>{{item.rol_insourcing}}</td>
                <td>{{item.especialidad}}</td>
                <td>{{item.tribu}}</td>
                <td>{{item.squad}}</td>
                <td>{{item.codigo_app_asignado}}</td>
                <td>{{item.porcentaje_asignado}}</td>
                <td>{{item.bb}}</td>
                <td>{{item.chapter}}</td>
                <td>{{item.comentario}}</td>
              </tr>
            </table>
          </c-col>
        </c-row>

        <c-row>
          <c-col>
            <div style="overflow-x:auto;">
              <div class="col-md-12 mb-3" style="margin-top: 10px;">
                  <ngx-datatable 
                  class="material container striped" 
                  [rows]="baseActivoList" 
                  [loadingIndicator]="loadingIndicator"
                  [columnMode]="'force'"
                  [headerHeight]="50" 
                  [footerHeight]="50" 
                  [scrollbarH]="true"
                  [rowHeight]="50"
                  [externalPaging]="true"
                  [count]="page.totalCount"
                  [offset]="page.currentPage"
                  [limit]="page.pageSize"
                  (page)='setPage($event)'
                  [messages]="{emptyMessage: 'No hay datos disponibles.',totalMessage: 'Activos encontrados.'}">   
                  
                  <ngx-datatable-column name="Nombre CAL">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.nombre_cal}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Matricula Chapter">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.mat_chapter}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Chapter Leader">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.chapter_leader}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Tipo">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.tipo_preper}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Empresa">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.empresa}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Matricula">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.matricula}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Ap.Paterno">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.apellido_paterno}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Ap. Materno">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.apellido_materno}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nombres">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.nombre}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Rol">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.sq_rol}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Rol Insourcing">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.rol_insourcing}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Especialidad">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.especialidad}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Tribu/Coe">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.tribu}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Squad">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.squad}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Código App asignado">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.codigo_app_asignado}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="% de asignación a la App">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.porcentaje_asignado}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="BB">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.bb}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Chapter">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.chapter}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Comentarios">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.comentario}}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  
    <ng-template #templateAdd>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Agregar Asignacion Team Member</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
          <form cForm class="form" #addForm="ngForm" (ngSubmit)="agregarTeamMember()">
            <div class="row">
              <div class="col-12">
                <div class="mb-1">
                  <label cLabel for="teamMember">Matricula</label>
                  <select class="form-select" id="teamMember" [(ngModel)]="activoTable.matricula" name="teamMember" #teamMember="ngModel" required>
                    <option value="{{teamMember.id}}-{{teamMember.codMatricula}}" *ngFor="let teamMember of teamMemberList">{{teamMember.codMatricula+ '-' + teamMember.nombre+ ' ' + teamMember.apellidoPaterno+ ' ' + teamMember.apellidoMaterno}}</option>
                  </select> 
                  <div *ngIf="teamMember.invalid && (teamMember.dirty || teamMember.touched)" class="alert">
                  <div *ngIf="teamMember.errors?.['required']">Matricula es obligatorio.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-6">
                <div class="mb-1">
                    <label cLabel for="application">Aplicación</label>
                    <select class="form-select" id="application" [(ngModel)]="activoTable.aplicacion" name="application" #application="ngModel" required>
                      <option value="{{application.id}}-{{application.codAplicacion}}" *ngFor="let application of applicationList">{{application.codAplicacion}}</option>
                    </select> 
                    <div *ngIf="application.invalid && (application.dirty || application.touched)" class="alert">
                    <div *ngIf="application.errors?.['required']">Aplicacion es obligatorio.</div>   
                    </div>
                </div>
                </div>
                <div class="col-6">
                <div class="mb-1">
                    <label cLabel for="porcentaje">Porcentaje</label>
                    <input class="form-control" id="porcentaje" type="number" [(ngModel)]="activoTable.porcentaje" name="porcentaje" #porcentaje="ngModel" required />
                    <div *ngIf="porcentaje.invalid && (porcentaje.dirty || porcentaje.touched)" class="alert">
                    <div *ngIf="porcentaje.errors?.['required']">Porcentaje es obligatorio.</div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <div class="mb-1">
                    <label cLabel for="comentario">Comentario</label>
                    <textarea class="form-control" id="comentario" [(ngModel)]="activoTable.comentario" name="comentario" #comentario="ngModel" rows="3"></textarea>
                    <div *ngIf="comentario.invalid && (comentario.dirty || comentario.touched)" class="alert">
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button style="width: 100%; margin-top: 15px;" type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Agregar</button>
              </div>
            </div>
        </form>
        <label style="color: red; font-size: 16px; font-weight: bold; margin-top: 14px;">{{mensaje}}</label>
        <table style="margin-top: 14px;" [striped]="true" cTable color="dark">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matricula</th>
            <th scope="col">Aplicación</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Comentario</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of activosListTable; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{item.matricula.split("-")[1]}}</td>
            <td>{{item.aplicacion.split("-")[1]}}</td>
            <td>{{item.porcentaje}}</td>
            <td>{{item.comentario}}</td>
            <td><a><span (click)="borrarTeamMember(item)">Borrar</span></a></td>
          </tr>
          </tbody>
        </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="cerrarModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="registrarBaseActivo()">Registrar</button>
        </div>
    </ng-template>
  </div>
  
  